@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
    display: flex;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#timer {
    position: absolute;
    width: 100px;
    height: 50px;
    border: 1px solid black;
    background-color: white;
    top: 10px;
    left: 10px;
    text-align: center;
    font-size: 30px;
}

#sizeCard {
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: blue;
    z-index: 100;
    top: 60%;
    left: 30%;
    text-align: center;
    font-size: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    label{
        font-size: 15px;
        color: white;
    }
    input {
        width: 100%;
        height: 40px;
    }
}

#buttonSubmit {
    background: none;
    border: none;
    font-size: 15px;
    color: white;
    border: 1px solid white;
    border-radius: 12px;
    margin-top: 5px;
}

.no-show {
    display: none !important;
}

#buttons {
    display: flex;
    gap: 20px;
}

#buttonCard {
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    background-color: blue;
    box-shadow: 0 5px 15px rgba(0,0,0,.25);
    transition: all .2s ease;

    &:hover {
    scale: 1.1;
    box-shadow: 0 8px 20px rgba(0,0,0,.35);
}
    }

#card {
    background-color: white;
    margin-top: 20px;
    width: 30rem;
    height: 45rem ;
    border: 1px solid black;
    border-radius: 20px;
    padding: 1rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 8px 8px 15px rgba(0,0,0,0.5);
    position: relative;
    
    span {
         align-self: end;
         font-size: 7em;
    }
    span:first-child {
        align-self: start;
    }
    h1 {
        font-size: 10em;
    }
}

.red {
    span {
         color: red;
    }
}